<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yulan.dao.CartItemDao">
    <resultMap id="CartItemMap" type="CartItem" >
        <result column="CART_ITEM_ID" property="cartItemId" jdbcType="VARCHAR" />
        <result column="COMMODITY_TYPE" property="commodityType" jdbcType="VARCHAR" />
        <result column="ACTIVITY_GROUP_TYPE" property="activityGroupType" jdbcType="VARCHAR" />
        <result column="PRODUCT_GROUP_TYPE" property="productGroupType" jdbcType="VARCHAR" />
        <result column="CART_ID" property="cartId" jdbcType="VARCHAR" />
        <collection property="commodities" column="CART_ITEM_ID" select="com.yulan.dao.CommodityDao.getCommoditiesByCartItemID" />
    </resultMap>

    <insert id="addCartItem" parameterType="CartItem">
        insert into CART_ITEM
        (CART_ITEM_ID, COMMODITY_TYPE, ACTIVITY_GROUP_TYPE, PRODUCT_GROUP_TYPE, CART_ID) VALUES
        (#{cartItemId},#{commodityType},#{activityGroupType,jdbcType=VARCHAR},#{productGroupType,jdbcType=VARCHAR},#{cartId})
    </insert>

    <delete id="deleteCartItemByID" parameterType="String">
        delete from CART_ITEM where CART_ITEM_ID = #{cartItemID}
    </delete>

    <select id="getCartItemByID" parameterType="String" resultMap="CartItemMap">
        select * from CART_ITEM where CART_ITEM_ID = #{cartItemId}
    </select>

    <select id="getCartItems" parameterType="String" resultMap="CartItemMap">
        select * from cart_item where CART_ID = #{cartID,jdbcType=VARCHAR} and COMMODITY_TYPE = #{commodityType,jdbcType=VARCHAR}
    </select>

    <select id="getCartItemOrder" parameterType="Map" resultType="CartItem">
        select * from CART_ITEM
        where
        CART_ID = #{cartID} and COMMODITY_TYPE = #{commodityType}
        and ACTIVITY_GROUP_TYPE = #{activityGroupType,jdbcType=VARCHAR}
        and PRODUCT_GROUP_TYPE = #{productGroupType,jdbcType=VARCHAR}
    </select>
</mapper>