<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yulan.dao.CtmOrderDetailDao">
    <select id="getCtmOrderDetailAppoint" resultType="CtmOrderDetailMap" parameterType="Map">
        select * from CTM_ORDER_DETAIL where ITEM_NO = #{itemNo} and ORDER_NO = #{orderId}
    </select>
</mapper>